{% extends "web/layouts/main.twig" %}

{% block styles %}

{% endblock %}

{% block content %}

    <h1>Bienvenido a nuestra plataforma de Pagos.</h1>

{% endblock %}

{% block scripts %}

{% endblock %}